@import "../scss/globals/shared";

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  @include fixed-size(100%, 100%);
}

tool-bar {
  @include fixed-size(100%, #{$size_toolbar});
  z-index: 1;
}

.content {
  height: calc(100% - #{$size_toolbar});
  @include responsive-width();
  background-color: $white;
  box-shadow: $shadow_page;
  z-index: 0;
}
