$transparent: #00000000;

$white: white;

$black: #282828;
$border-1: #b6b6b6;

$main_bg: #eee9e9;

$color_first: #dd2b19;
$color_first-light: #e25242;
$color_first-lighter: #e67f74;
$color_first-lightest: #ffe0dd;

$color_scnd: #19dddd;
$color_scnd-light: #e25242;
